.rspress-plugin-api-docgen table {
  table-layout: fixed;
  width: 100%;
}

.rspress-plugin-api-docgen table td {
  /* allow use &#10; to break line */
  white-space: pre-wrap;
}

.rspress-plugin-api-docgen table td .rp-api-required {
  color: var(--rp-container-danger-text, #f5222d);
}
